/* #region common */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    color: var(--rl-main);
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}
/* #endregion common */


/* #region utilities */
.d-flex {
    display: flex;
}

.container {
    max-width: 1140px;
    width: 80%;
    margin: 1rem auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
}

[class^="col_"] {
    padding: 0.5rem 1rem;
    margin: 0.5rem 0.25rem;
    border-radius: 1rem;
}

[class^="col_"] > * {
    padding: 0.5rem 0;
}

[class^="col_"] > * > * {
    padding: 0.5rem 0;
}

.col_12 {
    width: 100%;
}

.col_8 {
    width: calc(100% / 12 * 8 - 0.5rem);
}

.col_6 {
    width: 50%;
}

.col_4 {
    width: calc(100% / 12 * 4 - 00.5rem);
}
/* #endregion utilities */


/* #region debug */
.debug * {
    border: 1px dashed black;
}
.debug header {
    height: 140px;
}

.debug [class^="col_"] {
    height: 120px;
}
/* #endregion debug */

/* #region color */
:root {
    --rl-primary: #9792e4;
    --rl-secondary: #b5ddff;
    --rl-tertiary: #fdc15f;
    --rl-header: #0084fd;
    --rl-effect-header: #b5ddff;
    --rl-main: #ffffff;
    --rl--footer: #333333;
    --rl-dark: #181818;
}
/* #endregion color */


/* #region header */
header {
    background-color: var(--rl-header);
}

#site_header nav {
    width: 100%;
}

#site_header nav > * {
    padding: 0.25rem;
}

#site_header nav > a {
    float: left;
}


#site_header img {
    vertical-align: middle;
    padding: 0.25rem;
}

#site_header li a {
    color: var(--rl-main);
    display: block;
    padding: 0.2rem 0;
}

#site_header li button {
    background: none;
    border: none;
}

#site_header .menu {
    clear: both;
    margin-left: -100vw;
    max-height: 0;
    transition: all 0.4s ease;
}

#site_header li:hover {
    background-color: var(--rl-effect-header);
}

/* ICONA HAMBURGER */
#site_header .menu_icon {
    position: relative;
    float: right;
    cursor: pointer;
    height: 55px;
    width: 55px;
}

#site_header .nav_icon {
    display: block;
    border: 1px solid var(--rl-main);
    position: absolute;
    width: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#site_header .nav_icon::before,
#site_header .nav_icon::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    border: 1px solid var(--rl-main);
    transition: all 0.2s ease; 
    left: -1px;
}

#site_header .nav_icon::before {
    top: 5px;
}

#site_header .nav_icon::after {
    top: -7px;
}

#site_header .menu_btn {
    display: none;
}

#site_header .menu_btn:checked ~ .menu {
    margin-left: 0;
    max-height: 100%;
}

#site_header .menu_btn:checked ~ .menu_icon .nav_icon {
    border: none;
}

#site_header .menu_btn:checked ~ .menu_icon .nav_icon::before {
    transform: rotate(-45deg);
    top: 0;
}

#site_header .menu_btn:checked ~ .menu_icon .nav_icon::after {
    transform: rotate(45deg);
    top: 0;
}

/* #endregion header */


/* #region main */
main section:nth-child(even) {
    background-color: var(--rl-primary);
}

/* SECTION DEMO */
#demo [class^="col_"] {
    background-color: var(--rl-effect-header);
}

#demo h2,
#demo i {
    text-align: center;
    color: var(--rl-header);
}

#demo i {
    width: 100%;
}

#demo .fa-apple {
    color: white;
    display: inline;
    padding: 0 0.5rem;
}

#demo p {
    text-align: center;
}

#demo a {
    color: var(--rl-main);
    text-align: center;
    display: block;
    width: 60%;
    margin: 2rem auto;
    background-color: var(--rl-header);
    padding: 0.25rem 0rem;
    border-radius: 2rem;
}

#demo img {
    position: relative;
    top: 22px;
    padding-bottom: 0;
}

/* SECTION PLANNING */
#planning .row [class^="col_"]:nth-child(even) {
    color: var(--rl-dark);
    background-color: var(--rl-main);
    text-align: center;
}

#planning i {
    background-color: var(--rl-primary);
    border-radius: 50%;
    width: 35px;
}

/* SECTION TESTIMONIALS */
#testimonials {
    text-align: center;
    color: var(--rl-dark);
}

#testimonials h2 {
    color: var(--rl-primary);
    padding: 0.8rem 0;
}


#testimonials [class^="col_"] {
    background-color: var(--rl-primary);
    color: var(--rl-main);
}

#testimonials img {
    border-radius: 50%;
    width: 90%;
    aspect-ratio: 1;
}

/* SECTIO BENEFITS */
#benefit [class^="col_"] {
    background-color: var(--rl-main);
}

#benefit [class^="col_"] h2,
#benefit [class^="col_"] h6 {
    color: var(--rl-primary);
    padding: 0.1rem 0;
}

#benefit [class^="col_"] h2 {
    font-size: 2rem;
}

#benefit [class^="col_"] p {
    color: var(--rl-dark);
    margin-bottom: 1rem;
}

#benefit [class^="col_"] a {
    color: var(--rl-main);
    background-color: var(--rl-primary);
    padding: 0.3rem 0.9rem;
    border-radius: 1rem;
}

#benefit .container > h2 {
    text-align: center;
    padding: 0.5rem 0;
}


/* SECTION ABOUTUS */
#about_us [class^="col_"] {
    position: relative;
}

#about_us h2 {
    color: var(--rl-primary);
    font-size: 2rem;
}

#about_us p {
    color: var(--rl-dark);
}

#about_us img {
    border-radius: 50%;
}

#about_us [class^="col_"] > i {
    color: var(--rl-primary);
    position: absolute;
    top: 0;
    right: 2rem;
}

#about_us a i {
    padding-right: 0.25rem;
}

#about_us a {
    color: var(--rl-main);
    background-color: var(--rl-primary) ;
    padding: 0.25rem 0.8rem;
    border-radius: 1rem;
}

/* SECTION CALL TO ACTION */
#call_to_action .container {
    margin-bottom: 0;
}

#call_to_action {
    text-align: center;
}

#call_to_action h2 {
    font-size: 3.5rem;
    color: var(--rl-tertiary);
}

#call_to_action a {
    color: var(--rl-main);
}

#call_to_action .under_ {
    text-decoration: underline;
}

#call_to_action i {
    font-size: 0.4rem;
}

/* #endregion main */


/* #region footer */
#site_footer {
    background-color: var(--rl--footer);
    text-align: center;
}

#site_footer .container {
    margin: 0 auto;
}

#site_footer a {
    color: var(--rl-primary);
    text-decoration: underline;
}
/* #endregion footer */


/* #region mediaQ */
@media screen and (min-width: 768px) {
    .col_md_10 {
        width: calc((100% / 12 * 10) - 0.5rem);
    }

    .col_md_8 {
        width: calc((100% / 12 * 8) - 0.5rem);
    }
    
    .col_md_6 {
        width: calc((100% / 12 * 6) - 0.5rem);
    }
    
    .col_md_4 {
        width: calc((100% / 12 * 4) - 0.5rem);
    }

    .col_md_2 {
        width: calc((100% / 12 * 2) - 0.5rem);
    }
    
    /* ADATTAMENTI TESTIMONIALS */
    #testimonials h3 {
        text-align: start;
    }
    
}

@media screen and (min-width: 1200px) {
    .container_lg {
        max-width: 1140px;
        width: 80%;
        margin: 1rem auto;
    }

    .col_lg_10 {
        width: calc((100% / 12 * 10) - 0.5rem);
    }

    .col_lg_8 {
        width: calc((100% / 12 * 8) - 0.5rem);
    }
    
    .col_lg_6 {
        width: calc((100% / 12 * 6) - 0.5rem);
    }
    
    .col_lg_4 {
        width: calc((100% / 12 * 4) - 0.5rem);
    }

    .col_lg_2 {
        width: calc((100% / 12 * 2) - 0.5rem);
    }
    
    /* ADATTAMENTI NAV */
    #site_header {
        height: 55px;
    }

    #site_header li {
        float: left;
        padding: 0.7rem;
    }

    #site_header .menu {
        clear: none;
        float: right;
        max-height: 0;
    }

    #site_header li:last-child a {
        color: var(--rl--footer);
        background-color: var(--rl-main);
        padding: 0.25rem 0.5rem;
        border-radius: 1rem;
    }

    #site_header .menu_icon {
        display: none;
    }

    /* ADATTAMENTI DEMO */
    #demo .col_lg_8 {
        display: flex;
    }

    #demo .w_50{
        width: 50%;
    }
    
}
/* #endregion mediaQ */