/* #region common */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
}
/* #endregion common */


/* #region utilities */
.container {
    max-width: 1140px;
    width: 80%;
    margin: 1rem auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
}

[class^="col_"] {
    padding: 0.5rem 1rem;
}

.col_12 {
    width: 100%;
}

.col_8 {
    width: calc(100% / 12 * 8);
}

.col_6 {
    width: 50%;
}

.col_4 {
    width: calc(100% / 12 * 4);
}
/* #endregion utilities */


/* #region debug */
.debug * {
    border: 1px dashed black;
}
.debug header {
    height: 140px;
}

.debug [class^="col_"] {
    height: 120px;
}
/* #endregion debug */

/* #region color */
:root {
    --rl-primary: #9792e4;
    --rl-secondary: #b5ddff;
    --rl-tertiary: #fdc15f;
    --rl-header: #0084fd;
    --rl-main: #ffffff;
    --rl--footer: #333333;
}
/* #region color */


/* #region header */
header {
    background-color: var(--rl-header);
}

.container_header {
    width: calc(100% - 1rem);
}
/* #endregion header */


/* #region main */
main section:nth-child(even) {
    background-color: var(--rl-primary);
}

/* #endregion main */


/* #region footer */
#site_footer {
    background-color: var(--rl--footer);
}

/* #endregion footer */

/* #region mediaQ */
@media screen and (min-width: 768px) {
    .col_md_8 {
        width: calc(100% / 12 * 8);
    }
    
    .col_md_6 {
        width: 50%;
    }
    
    .col_md_4 {
        width: calc(100% / 12 * 4);
    }
    
}

@media screen and (min-width: 1200px) {
    .container_lg {
        max-width: 1140px;
        width: 80%;
        margin: 1rem auto;
    }

    .col_lg_8 {
        width: calc(100% / 12 * 8);
    }
    
    .col_lg_6 {
        width: 50%;
    }
    
    .col_lg_4 {
        width: calc(100% / 12 * 4);
    }
}

/* #endregion mediaQ */